input[type="text"]:not(:placeholder-shown),
#telefone:not(:placeholder-shown),
input[type="email"]:not(:placeholder-shown),
textarea:not(:placeholder-shown) {
    background-color: #ffffff;
}

textarea {
    border-radius: 15px;
    width: calc(100vw - 100px);
    height: 67px;
    resize: vertical;
    background-color: #ffffff;
    border: 2px #191919 solid;
    transition: .4s;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
    -webkit-text-fill-color: #000000 !important;
    -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
    transition: background-color 5000s ease-in-out 0s;
}

input:focus,
textarea:focus {
    outline: none;
    border: 2px solid #6793EE;
}

#contact-form {
    width: calc(100vw - 40px);
    overflow: auto;
    padding: 0px;
    border-radius: 10px;

}

label {
    display: block;
    margin: 0;
    padding: 0;
}

input {
    width: calc(100vw - 40px);
    height: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 5px;
}

input[type="submit"],
input[type="reset"] {
    height: 20px;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #212020;
    color: #fff;
    cursor: pointer;
    transition: .4s;
}

input[type="submit"] {
    margin-bottom: 7px;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #4961DC;
}