* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    padding: 20px;
    color: #fff;
    position: absolute;
}

.logo {
    width: 45px;
    height: 45px;
}

.divheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95vw;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

ul li a {
    color: #fff;
    text-decoration: none;
}

a {
    color: #fff;
    text-decoration: none;
    padding: 12px 15px;
    border-radius: 10px;
    transition: .4s;
}

a:hover {
    color: #ffffff;
    background-color: #222;
}

.banner {
    width: 100%;
    height: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.container>div {
    text-align: center;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #222;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 400px;
    gap: 20px;
    box-shadow: 0px 0px 25px -2px #48B1F5;
    transition: .4s;
    display: inline-block;
}

.container>div>h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

.imgproj {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 8px;
}

.btnarq, .btnsite {
    font-size: 14px;
    height: 38px;
    border-radius: 10px;
    background-color: #3797CE;
    color: #fff;
    text-decoration: none;
    transition: .4s;
    border: 1px solid #ffffff;
    width: 100%;
    margin-top: 10px;
}

.btnarq {
    margin-left: 5px;
}

.divbtn {
    position: relative;
    bottom: -80px;
    display: flex;
}

.btnarq:hover, .btnsite:hover {
    background-color: #13689F;
}