@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    padding: 20px;
    color: #fff;
    position: absolute;
}

.logo {
    width: 45px;
    height: 45px;
}

.divheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 93vw;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

ul li a {
    color: #fff;
    text-decoration: none;
}

a {
    color: #fff;
    text-decoration: none;
    padding: 12px 15px;
    border-radius: 10px;
    transition: .4s;
}

a:hover {
    color: #ffffff;
    background-color: #222;
}

.banner {
    width: 100%;
    height: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    margin-bottom: 20px;
}

.divproj {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
    gap: 20px;
}

#area1 {
    background-image: url(../img/hinos-ibrfm.png);
    background-size: cover;
    background-position: center;
    width: 30vw;
    height: 120px;
}

#area2 {
    background-image: url(../img/proj-login.png);
    background-size: cover;
    background-position: center;
    width: 30vw;
    height: 120px;
}

#area3 {
    background-image: url(../img/joao-calvino.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 30vw;
    height: 120px;
}